.container {
    width: 100%;
    margin: auto;
    text-align: center;
    position: relative;
    height: 10vmin;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

svg circle {
    stroke: rgb(128, 128, 128);
    opacity: 0.2;
    stroke-width: 5;
    transform: translate(5px, 5px);
}

svg circle:nth-child(3) {
    stroke: #00629B;
    opacity: 1;
    stroke-dasharray: 209%;
    stroke-dashoffset: 0%;
}

.text {
    color: #00629B;
    border-bottom: 2px solid rgba(128, 128, 128, 0.4);
    width: 110px;
}

.form-container {
    width: 50%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

.form-container input {
    width: 50px;
}